<h1>Sign In</h1>



<%= form_with(scope: :session, url: login_path) do |f| %>
  
    <p>
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control", placeholder: "Enter your email address" %>
    </p>
    <p>
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %>
    </p>
    <p>
      <%= f.submit "Log In", class: "btn btn-primary" %> 
    </p>
  <% end %>